$sunflower-color: #f3de2c;
$vine-color: #2f4b26;
$design-selection-background-color: #93744d;
$header-color: #9db4ab;
$body-color: #ece6e6;
$body-font:'Roboto', sans-serif;
$fonts :'Playfair Display'; 

$break-small: 400px;
$break-medium: 900px;
$break-large: 1400px;

$sunflower-circle-size: 100px;
$sunflower-border-width: 10px;
$sunflower-leaves-color: #2f4c26;

@mixin fontSize($fsize){
    font-size: $fsize;
}

@mixin breakpoint($break) {
    @if $break == large {
        @media (max-width: $break-large) {@content}
    }
    @else if $break == medium {
        @media (max-width: $break-medium) {@content}
    }
    @else if $break == small {
        @media (max-width: $break-small) {@content}
    }
    @else {
        @media ($break) {@content}
    }
}
* {
    box-sizing: border-box;
}

div.page-wrapper { /* Added by Nicole & Rhoda*/
    @include fontSize(1em);
  display: grid;
	grid-template-areas: 
		"header header header header" 
		"aside main main main" 
		"aside main main main" 
		"aside main main main"; 
    font-family: $body-font;
    padding:50px;
}

section.intro{
  background-color: $header-color;
  grid-area: header; /* Added by Nicole */
  display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 250px);
    padding: 3%;
}

header { /* Added by Nicole */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
  grid-column: 1/6;
	grid-row: 1/2;
  background: URL("https://codepen.io/Murffkins/pen/WNgEypN");
} 

 /* Added by Nicole */
header h1{
  grid-column: 1/2;
  @include fontSize(3em);
  background: -webkit-linear-gradient(#b8b42d, #dd403a, #697a21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $fonts;
}

section.intro h2 { /* Added by Nicole */
	grid-column: 4/6;
    @include fontSize(2em);
    font-family: $fonts;
    text-shadow: -4px 3px white;
} 

div.main-supporting { /* Added by Nicole */
	grid-area: main;
}

div.summary#zen-summary { /* Added by Nicole */
	grid-column: 4/ span 2;
	grid-row: 2/3;
	border-bottom-style: none;
}

div.preamble { /* Added by Nicole */
	grid-column: 1/6;
	grid-row: 3/5;
	padding-left: 20%;
	padding-right: 20%;
	border-color: #2f4b26;
	border-top-style: solid;
	border-bottom-style: solid;
}

.preamble h3 {
    text-shadow: -2px 3px white;
    font-family: $fonts;
    @include fontSize(1.2em);
} 

div[role="main"]{
  background-color: $body-color;
  padding: 20px;
  h3 {
    @include fontSize(2em);
  }
}

div[role="article"]{
    border-color: $vine-color;
    border-bottom-style: solid;
}

.sidebar{
  grid-area: aside;
  background-color: $design-selection-background-color;
  h3 {
    @include fontSize(2em);
    background: $body-color;
    border: 2px solid black;
  }
  ul{
    list-style: none;
    li:before{
      content: '';
      // display: inline-block;      
        background-image: url('https://cdn-icons-png.flaticon.com/128/4942/4942513.png');
        height: 25px;
        width: 35px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 35px;
        margin-left: -35px;
        margin-right: 10px;
    }
    li {
        display:block ;
        height: 75px;
        @include fontSize(1.5em);
        width: 300px
    }
  }
}
 

footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  
  a{
    text-decoration: none;
    display: flex;
    width: $sunflower-circle-size;
    height: $sunflower-circle-size;
    font-size: 1rem;
    align-items: center;
   justify-content: center;
    margin-top: 1rem;
    border-style: solid;
    border-width: $sunflower-border-width;
    border-radius: 50%;
    border-color: $sunflower-leaves-color;
    padding: 0.4rem;
    background-color: $sunflower-color;
  }

//Nicole trial  
  a:hover {
    animation: grow 4s linear ease-in;
    
}
//Nicole trial
  @keyframes grow {
    0% {left: 0px; top:0px;}
    25% {left:0px; top:10px;}
    50% {left:0px; top:20px;}
    75% {left:0px; top:30px;}
    100% {left:0px; top:0px;}
  }
}